/* You can add global styles to this file, and also import other style files */
@import 'mixins';
@import 'variables';
// @import 'angular-material-custom';
// @import'jquery-ui-custom';

html, body {
    margin: 0;
    height: 100%;
    font: 400 12px/1.4 'Play',  Arial,  Tahoma,  Verdana, sans-serif;
}

*, :before, :after {
    box-sizing: border-box;
}

a {
    outline: none;
}



/* 
 *
 *   JQuery UI
 *
 */
$url-slider-holder: 'assets/img/libs/slider_holder.svg';
$url-slider-left-top: 'assets/img/libs/range-left-top.svg';
$url-slider-left-top-grad: 'assets/img/libs/range-left-top-grad.svg';

// .ui-slider {
   
//     height: 100%;

//     &-range {
        
//     }

//     &-handle {
//         width: $size-handle;
//         height: $size-handle;
//         display: inline-block;
//         cursor: pointer;
//         @include backgroundOptional(url($url-slider-holder));
//     }

//     &.slider-range-left {
//         position: relative;
//         top: 6vh;
//         @include backgroundOptional(url($url-slider-left-top), auto 100%, 50% 0vh);

//         .ui-slider-range {
//             width: 100%;
//             position: absolute;
//             bottom: 0;
//             background-color: rgba(255, 255, 255, .5);
//             @include backgroundOptional(url($url-slider-left-top-grad), 11.5vh auto, 21vh 23.5vh);
//             background-attachment: fixed;
//         }

//         .ui-slider-handle {
//             position: absolute;
//             left: 30.5%;
            
//         }
//     }

//     &.slider-range-top {
//         margin: auto;
//         width: $size-third;
//         height: 100%;
//         // @include backgroundOptional(url("../img/libs/range-middle-top.svg"), $size-wave);
//     }
// }
