/* You can add global styles to this file, and also import other style files */
@import 'mixins';
@import 'variables';
// @import 'angular-material-custom';
// @import'jquery-ui-custom';

html, body {
    margin: 0;
    height: 100%;
    font: 400 12px/1.4 'Play',  Arial,  Tahoma,  Verdana, sans-serif;
}

*, :before, :after {
    box-sizing: border-box;
}

a {
    outline: none;
}


