<div class="container">
    <div class="player">
        <div class="player__holder">
            <div class="player__holder__inner">
                <table class="column-table left">
                    <tr>
                        <td>
                            <app-slider mode="left-top" (change)="changedVolume($event, 'left-top')"></app-slider>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="pitch">
                                <app-pitch mode="left"></app-pitch>
                            </div>
                            <div class="reverb">
                                <app-slider mode="left-bottom"></app-slider>
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="column-table middle">
                    <tr>
                        <td class="slider-top">
                            <app-slider mode="top"></app-slider>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="player__view">
                                <div class="player__view__inner">
                                    <div class="player__view__inner__holder">
                                        <h1>{{title | uppercase}}</h1>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <button (click)="onPlay()">{{isPlaying ? 'Stop' : 'Play'}}</button>
                            </div>
                            <div>
                                <button>Download</button>
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="column-table right">
                    <tr>
                        <td>
                            <app-slider mode="right-top" (change)="changedVolume($event, 'right-top')"></app-slider>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="pitch">
                                <app-pitch mode="right"></app-pitch>
                            </div>
                            <div class="reverb">
                                <app-slider mode="right-bottom"></app-slider>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
