@import 'variables';
@import 'mixins';

$min-size: 623px;
$min-width-player: 623px;
$size: 80vh;
$size-third: $size / 3;
$size-handle: $size / 35;

.container {
    display: flex;
    background: black radial-gradient(ellipse at top, $light-blue-color-rgba 0%, $dark-blue-color-rgba 70%);
    // background-color: black;
    height: 100%;

    .player {
        border: 1px solid white;

        margin: auto;
        width: $min-size;
        height: $min-size;
        border-radius: 50%;
        

        @media (min-width: $screen-md-min) {
            width: $size;
            height: $size;
        }
        
        &__holder {
            width: inherit; height: inherit;

            &__inner {
                width: inherit; height: inherit;
                position: relative;

                // Разметка для разработки (временно)
                &:before {
                    margin: 10% 10%;
                    position: absolute;
                    content: '';
                    display: block;
                    width: 80%; height: 80%;
                    border-radius: 50%;
                    background-color: rgba(255, 255, 255, .1);
                }
               
            }
        }

        .column-table {
            border: 1px solid green;
            float: left;
            width: 33.333%;
            height: 100%;
            border-collapse: collapse;

            &.middle {
                
                tr {

                    td {
                        height: 33.333%;
                        border: 1px solid blue;

                        &.slider-top {
                            padding-top: 17%;
                        }
                    }
                }
            }
        }

        &__view {
            height: 100%;
            border-radius: 50%;
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.07);

            &__inner {
                width: 100%; height: 100%;
                border-radius:50%;
                padding:9px;
                border:2px solid rgba(255, 255, 255, 1);
                box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.06);

                &__holder {
                    display: flex;
                    width: 100%; height: 100%;
                    border-radius: 50%;
                    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2) inset, 0 0 10px 10px #5ec7e1 inset;
                    @include blueprintGrid;

                    h1 {
                        margin: auto;
                    }
                }
            }
        }

        // &__content {

        //     width: $min-size;
        //     height: $min-size;

        //     @media (min-width: $screen-md-min) {
        //         width: $size;
        //         height: $size;
        //     }
            

        //     tr {
        //         border: 1px solid yellow;
                

        //         td {
        //             border: 1px solid beige;
        //             text-align: center;
        //             width: 33.333%;

        //             &.player__content__wave { 
        //                 height: 33.333%;
        //             }
        //         }
        //     }

        //     &__wave {
        //         // width: $size-third;
        //         &__container {
        //             height: 100%;
        //             border-radius: 50%;
        //             box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.07);
                    
        //             &__inner {

        //                 width: 100%; height: 100%;
        //                 border-radius:50%;
        //                 padding:9px;
        //                 border:2px solid rgba(255, 255, 255, 1);
        //                 box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.06);
                        

        //                 &__holder {
        //                     display: flex;
        //                     width: 100%; height: 100%;
        //                     border-radius: 50%;
        //                     box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2) inset, 0 0 10px 10px #5ec7e1 inset;
        //                     @include blueprintGrid;

        //                     h1 {
        //                          margin: auto;
        //                     }
        //                 }
        //             }
                    
        //         }
        //     }

        //     &__download {

        //         .btn {
        //             position: relative;
        //             top: 0vh;
        //             @extend %extension-btn;
        //         }
        //     }
        // }
    }
}

%extension-handler {
    position: relative;
    width: $size-handle; height: $size-handle;
    display: inline-block;
    cursor: pointer;
}

%extension-btn {
    display: inline-block;
    padding: 1vh 4vh;
    color: $btn-color;
    font-size: 2vh;
    font-weight: 700;
    text-transform: uppercase;
    border-radius:3vh;
    background: $btn-background-rgba;
    border-bottom: .5vh solid $btn-color-bottom;
    cursor: pointer;

    &[disabled] {

        color:$btn-color-disabled;
        background-color: transparent;

        &:hover {
            color: $btn-color-disabled-hover;
            border-bottom: .6vh solid $btn-color-bottom;
            text-shadow: 0 0 10px $btn-color-shadow-disabled;
        }
    }
   
    
    
}
