<div class="sidebar">
    <div class="sidebar__logo">Diforb</div>
    <div class="sidebar__user">Hello</div>
    <div class="sidebar__link">Libraries</div>
    <div class="sidebar__link">How it works</div>
    <ul class="sidebar__links">
        <li>License agreement</li>
        <li>Freesound</li>
        <li>Privacy policy</li>
        <li>Support</li>
        <li>Get in touch</li>
    </ul>
    <div class="sidebar__social">
        <span class="facebook"></span>
        <span class="google"></span>
        <span class="twitter"></span>
    </div>
</div>