@mixin blueprintGrid {
    background-color: #5ec7e1;
    background-image: linear-gradient(rgba(255, 255, 255, .2) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255, 255, 255, .2) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .2) 1px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, .1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .1) 1px, transparent 1px);
    background-size:    100px 100px,
                        100px 100px,
                        20px 20px,
                        20px 20px,
                        10px 10px,
                        10px 10px;
    background-position:    -2px 5px,
                            5px -2px,
                            -1px 6px,
                            6px -1px,
                            0px -4px,
                            -4px 0px;
}

@mixin backgroundOptional($url, $size: 100%, $x: 0vh, $y: 0vh) {
    background-image: $url;
    background-repeat: no-repeat;
    background-size: $size;
    background-position-x: $x;
    background-position-y: $y;
}

@mixin dualBackgroundOptional(
    $url_1, $url_2,
    $sizeX_1: 100%, $sizeY_1: 100%,
    $sizeX_2: 100%, $sizeY_2: 100% 
) {
    background-image: $url_1, $url_2;
    background-repeat: no-repeat;
    background-size:    $sizeX_1 $sizeY_1,
                        $sizeX_2 $sizeY_2;
}


