@mixin blueprintGrid {
    background-color: #5ec7e1;
    background-image: linear-gradient(rgba(255, 255, 255, .2) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255, 255, 255, .2) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .2) 1px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, .1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .1) 1px, transparent 1px);
    background-size:    100px 100px,
                        100px 100px,
                        20px 20px,
                        20px 20px,
                        10px 10px,
                        10px 10px;
    background-position:    -2px 5px,
                            5px -2px,
                            -1px 6px,
                            6px -1px,
                            0px -4px,
                            -4px 0px;
}

@mixin backgroundOptional(
    $url,
    $size: 100%,
    $pos: 0 0,
    $repeat: no-repeat,
    $origin: content-box
) {
    background-image: $url;
    background-repeat: $repeat;
    background-size: $size;
    background-position: $pos;
    background-origin: $origin;
}

@mixin dualBackgroundOptional(
    $url_1, $url_2,
    $size1: 100% 100%, $size2: 100% 100%,
    $pos1: 0 0, $pos2: 0 0 
) {
    background-image: $url_1, $url_2;
    background-repeat: no-repeat;
    background-size:    $size1, $size2;
    background-position: $pos1, $pos2;
    background-origin: content-box;
}


