/* Переменные */

$light-blue-color-rgba: rgba(78, 191, 251, 1);
$dark-blue-color-rgba: rgba(39, 101, 133, 1);
$btn-background-rgba: rgba(255, 255, 255, 0.85);

$btn-color: #2eca75;
$btn-color-bottom: #9ca5a3;
$btn-color-disabled: rgba(0, 0, 0, .5);
$btn-color-disabled-hover: #65e36d;
$btn-color-shadow-disabled: #66ec06;



$min-width-player: 623px;
$size: 96vh;
$size-third: $size / 3;
$size-handle: 2.5vh;