@import 'mixins';
@import 'variables';

.gallery {
    background-color: $bgroundBlack2;
}

.wrapper {

    padding: 5px;

    h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 10px;

        .price {
            float: right;
        }
    }
    
    

    figure {
        position: relative;
        overflow: hidden;
        font-size: 0;

        img {
            width: 100%;
            transform: scale(1.1);
            transform-origin: center;
            transition: transform .3s ease;
        }

        figcaption {
            position: absolute;
            bottom: 20px;
            width: 100%;
            text-align: center;
            font-size: 1rem;
            visibility: hidden;
        }

        &:hover {

            img {
                transform: scale(1);
            }

            figcaption {
                visibility: visible;
            }
        }
    }

    .controll {
        padding: 10px;
        background-color: $bgroundBlack6;

        .buttons {
            
            color: $colorGreen;

            .launch {
                float: right;
                line-height: 38px;
                border-radius: 25px;
                padding: 0 20px;
                font-weight: bold;
                border: 1px solid $colorGreen;
            }
            
            .play {
                span {
                    position: relative;
                    top: 2px;
                    padding-left: 10px;
                }

                [class^=icon-] {
                    font-size: 40px;
                }
            } 

            .play, [class^=icon-], .launch {
                vertical-align: middle;
            }
        }
    }

    .progress {
        height: 5px;
        background-color: $colorGreenDark;

        .range {
            height: inherit;
            width: 0;
            background-color: $colorGreen;
            pointer-events: none;
        }
    }

    h3, figcaption, .launch {
        text-transform: uppercase;
    }
}
