

<!-- <div class="video-responsive">
    <video class="video" muted="muted" loop="loop" autoplay="autoplay">
        <source src="assets/video/littlegirleyes.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

    <canvas class="canvas"></canvas>
    <div class="shadow"></div>
</div> -->

<header>
    <div>
        <ul>
            <li class="parent">Home</li>
            <li class="parent">
                <span>License</span>
                <ul>
                    <li>Licence agreement</li>
                    <li>Privacy policy</li>
                </ul>
            </li>
            <li class="parent">Get in touch</li>
        </ul>
    </div>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <ul>
        <li><i class="icon-facebook"></i></li>
        <li><i class="icon-google"></i></li>
        <li><i class="icon-twitter"></i></li>
        <li><i class="icon-youtube"></i></li>
    </ul>
</footer>