:host {
    display: block;
    width: 100%;
    height: 100%;

    svg {
        height: auto;
    }

    .left-top, .right-top {
        width: 50%;
        margin-top: 61%;
        margin-bottom: -61%;
    }

    .left-top {
        margin-left: 21%;
    }

    .right-top {
        margin-right: 21%;
    }

    .top {
        width: 130%;
        margin: 0 -15%;
    }
}