:host {
    display: block;
    width: 100%;
    height: 100%;

    svg {
        height: auto;
        position: relative;
        z-index: 1;

        .volume-handler {
            cursor: pointer;
            position: relative;
            z-index: 2;
        }

        .reverb-button {

            &:hover {

                text {
                    fill: #4AB873;
                }
            }
        }
    }

    .left-top, .right-top {
        width: 50%;
        margin-top: 61%;
        margin-bottom: -61%;
    }

    .left-top {
        margin-left: 21%;
    }

    .right-top {
        margin-right: 21%;
    }

    .top {
        width: 130%;
        margin: 0 -15%;
    }

    .left-bottom, .right-bottom {
        width: 95%;
    }
}