<table>
    <tr>
        <td class="sidebar" valign="top">
            <app-sidebar></app-sidebar>
        </td>
        <td class="main" valign="top">
            <header>
                <span *ngIf="breadConfig.icon" [ngClass]="breadConfig.icon"></span>
                <span>{{breadConfig.breadcrumbs}}</span>
                <span *ngIf="breadConfig.child">
                    <span>/</span><span>{{breadConfig.child}}</span>
                </span>
            </header>
            <main>
                <router-outlet></router-outlet>
            </main>
        </td>
    </tr>
</table>
